.home-body {
  display: flex;

  .request {
    flex: 3;

    .request-text {
      padding: 15px;
      text-align: center;
      font-weight: bold;
    }

    .fr-worning {
      margin-top: 20%;
      text-align: center;
      color: #64645aa8;
    }

    .request-body {
      overflow-y: scroll;
      height: 200px;

      .requests-list {
        padding: 10px;
        height: 60px;
        display: flex;

        .request-name {
          text-align: center;
          font-weight: bold;
          font-size: 16px;
          padding: 5px;
          flex: 4;
        }

        .request-name::first-letter {
          text-transform: uppercase;
        }

        .btn {
          flex: 7;
          font-size: 10px;
        }
      }

      .requests-list:hover {
        cursor: pointer;
        background-color: rgb(169, 192, 188);
      }
    }
  }



  .friend-list {
    flex: 7;

    .friends-list-header {
      padding: 15px;
      text-align: center;
      font-weight: bold;
      size: 20px;
    }

    .fl-worning {
      margin-top: 20%;
      text-align: center;
      color: #64645aa8;
    }

    .friends-list-body {
      padding: 15px;
      display: flex;
      justify-content: center;

      div {
        margin: 0 10px;
      }

      .name {
        font-weight: bold;
      }

      .name::first-letter {
        text-transform: uppercase;
      }
    }
  }
}


.appeiring-text {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  z-index: 40;
  top: 25%;
  left: 15%;
  width: 350px;
  height: 150px;
  overflow: hidden;
}

.appeir-text1 {
  text-transform: uppercase;
  display: block;
  color: rgb(110, 88, 88);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  animation: text1 3s 1;
}
@keyframes text1 {
  0% {
      margin-top: -150px;
  }
  50% {
      margin-top: -75px;
  }
  100% {
      margin-top: 0;
  }
}

.appeiring-text2 {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  z-index: 20;
  top: 35%;
  left: 15%;
  width: 350px;
  height: 150px;
  overflow: hidden;
}

.appeir-text2 {
  font-size: 30px;
  color: #e8e518;
  animation: text2 3s 1;
}

@keyframes text2 {
  0% {
      margin-left: -700px;
  }
  50% {
      margin-left: -350px;
  }
  100% {
      margin-left: 0;
  }
}


@media screen and (max-width: 700px) {
  .appeiring-text {
      font-family: sans-serif;
      text-align: center;
      position: absolute;
      z-index: 40;
      top: 25%;
      left: 15%;
      width: 150px;
      height: 50px;
      overflow: hidden;
  }

  .appeir-text1 {
      text-transform: uppercase;
      display: block;
      color: rgb(114, 97, 97);
      font-size: 20px;
      animation: text1 3s 1;
  }

  .appeiring-text2 {
      font-family: sans-serif;
      text-align: center;
      position: absolute;
      z-index: 20;
      top: 30%;
      left: 15%;
      width: 150px;
      height: 50px;
      overflow: hidden;
  }

  .appeir-text2 {
      font-size: 15px;
      color: #e8e518;
      animation: text2 3s 1;
  }
}
