.home-body {
  display: flex;

  .request {
    flex: 3;

    .request-text {
      padding: 15px;
      text-align: center;
      font-weight: bold;
    }

    .request-body {
      overflow-y: scroll;
      height: 200px;

      .requests-list {
        padding: 10px;
        height: 60px;
        display: flex;

        .request-name {
          text-align: center;
          font-weight: bold;
          font-size: 16px;
          padding: 5px;
          flex: 4;
        }

        .request-name::first-letter {
          text-transform: uppercase;
        }

        .btn {
          flex: 7;
          font-size: 10px;
        }
      }

      .requests-list:hover {
        cursor: pointer;
        background-color: rgb(169, 192, 188);
      }
    }
  }



  .post {
    flex: 7;
  }
}

